---
import Layout from '../layouts/Page.astro';
import { Container } from '../components/odyssey-theme';
import Termin, { type TerminProp } from '../components/Termin.astro';
import { festprogramm } from '../components/festtagsprogramm/festtagsprogramm.astro';

const seo = {
	title: 'Termine',
	description: 'Termine',
};

const tomorrow: Date = new Date();
tomorrow.setDate(new Date().getDate() + 1);

const termine: TerminProp[] = [
	{
		type: 'Termin',
		date: new Date('2025-01-04T17:30:00.000Z'),
		name: 'Jahres&shy;haupt&shy;ver&shy;samm&shy;lung 2025',
		description: `Alle Jungschützen und die, die es werden wollen sind herzlich zur Jahres&shy;haupt&shy;ver&shy;samm&shy;lung eingeladen. Auf der Tagesordnung stehen u. a. der Jahres- und Kassenbericht sowie die Neuwahlen des Vorstands. Wir freuen uns auf euer Kommen!`,
		location: 'Landgasthaus Schmitz',
	},
	{
		type: 'Termin',
		date: new Date('2025-04-19T18:00:00.000Z'),
		name: 'Oster&shy;disco 2025',
		description:
			'Am Ostersamstag kann der Jungschütze nochmal richtig das Tanzbein schwingen! Der Jungschützenverein lädt zur alljährlichen Oster&shy;disco im Saal Wissing Flinzenberg ein.',
		location: 'Saal Wissing-Flinzenberg',
	},
	{
		type: 'Termin',
		date: new Date('2025-09-14T09:00:00.000Z'),
		name: 'Früh&shy;schoppen 2025',
		description:
			'Am Sonntag vor Schützenfest findet ein gemütlicher Umtrunk bei Schmitz statt. Dort können sich neue Jungschützen anmelden und Hüte, Gewehre, Nadeln, Federn und Shirts werden verkauft.',
		location: 'Landgasthaus Schmitz',
	},
	...festprogramm,
	// 2026
	{
		type: 'Termin',
		date: new Date('2026-01-03T17:30:00.000Z'),
		name: 'Jahres&shy;haupt&shy;ver&shy;samm&shy;lung 2026',
		description: `Alle Jungschützen und die, die es werden wollen sind herzlich zur Jahres&shy;haupt&shy;ver&shy;samm&shy;lung eingeladen. Auf der Tagesordnung stehen u. a. der Jahres- und Kassenbericht sowie die Neuwahlen des Vorstands. Wir freuen uns auf euer Kommen!`,
		location: 'Landgasthaus Schmitz',
	},
	{
		type: 'Termin',
		date: new Date('2026-04-04T18:00:00.000Z'),
		name: 'Oster&shy;disco 2026',
		description:
			'Am Ostersamstag kann der Jungschütze nochmal richtig das Tanzbein schwingen! Der Jungschützenverein lädt zur alljährlichen Oster&shy;disco im Saal Wissing Flinzenberg ein.',
		location: 'Saal Wissing-Flinzenberg',
	},
	{
		type: 'Termin',
		date: new Date('2026-09-13T09:00:00.000Z'),
		name: 'Früh&shy;schoppen 2026',
		description:
			'Am Sonntag vor Schützenfest findet ein gemütlicher Umtrunk bei Schmitz statt. Dort können sich neue Jungschützen anmelden und Hüte, Gewehre, Nadeln, Federn und Shirts werden verkauft.',
		location: 'Landgasthaus Schmitz',
	},
	{
		type: 'Termin',
		date: new Date('2026-09-18T16:00:00.000Z'),
		name: 'Jung&shy;schüt&shy;zen&shy;fest Freitag 2026',
		description:
			'In das beste Wochenende des Jahres starten wir um 18:00 Uhr beim Antreten zum Ausholen des Königspaares. Um 20:00 Uhr beginnt die Jungschützendisco im Saal Wissing-Flinzenberg!',
		location: 'Barlo Dorfplatz',
	},
	{
		type: 'Termin',
		date: new Date('2026-09-19T06:30:00.000Z'),
		name: 'Jung&shy;schüt&shy;zen&shy;fest Samstag 2026',
		description:
			'Nach dem Zug durch die Gemeinde, der Gefallenenehrung und dem Kirchgang beginnt das Vogelschießen! Abends werden die Orden vergeben und die Inthronisierung des neuen Königspaares findet statt.',
		location: 'Barlo Dorfplatz',
	},
	{
		type: 'Termin',
		date: new Date('2026-09-20T09:00:00.000Z'),
		name: 'Jung&shy;schüt&shy;zen&shy;fest Sonntag 2026',
		description:
			'Am Sonntag steht Früshoppen, Ausholen des neuen Königspaars und Fahneschlagen auf dem Programm. Abends kann sich das neue Königspaar nochmal richtig beim Thron feiern lassen.',
		location: 'Barlo Dorfplatz',
	},
	// 2027
	{
		type: 'Termin',
		date: new Date('2027-01-02T17:30:00.000Z'),
		name: 'Jahres&shy;haupt&shy;ver&shy;samm&shy;lung 2027',
		description: `Alle Jungschützen und die, die es werden wollen sind herzlich zur Jahres&shy;haupt&shy;ver&shy;samm&shy;lung eingeladen. Auf der Tagesordnung stehen u. a. der Jahres- und Kassenbericht sowie die Neuwahlen des Vorstands. Wir freuen uns auf euer Kommen!`,
		location: 'Landgasthaus Schmitz',
	},
	{
		type: 'Termin',
		date: new Date('2027-04-03T18:00:00.000Z'),
		name: 'Oster&shy;disco 2027',
		description:
			'Am Ostersamstag kann der Jungschütze nochmal richtig das Tanzbein schwingen! Der Jungschützenverein lädt zur alljährlichen Oster&shy;disco im Saal Wissing Flinzenberg ein.',
		location: 'Saal Wissing-Flinzenberg',
	},
	{
		type: 'Termin',
		date: new Date('2027-09-12T09:00:00.000Z'),
		name: 'Früh&shy;schoppen 2027',
		description:
			'Am Sonntag vor Schützenfest findet ein gemütlicher Umtrunk bei Schmitz statt. Dort können sich neue Jungschützen anmelden und Hüte, Gewehre, Nadeln, Federn und Shirts werden verkauft.',
		location: 'Landgasthaus Schmitz',
	},
	{
		type: 'Termin',
		date: new Date('2027-09-17T17:00:00.000Z'),
		name: 'Jung&shy;schüt&shy;zen&shy;fest Freitag 2027',
		description:
			'In das beste Wochenende des Jahres starten wir um 18:00 Uhr beim Antreten zum Ausholen des Königspaares. Um 20:00 Uhr beginnt die Jungschützendisco im Saal Wissing-Flinzenberg!',
		location: 'Barlo Dorfplatz',
	},
	{
		type: 'Termin',
		date: new Date('2027-09-18T06:30:00.000Z'),
		name: 'Jung&shy;schüt&shy;zen&shy;fest Samstag 2027',
		description:
			'Nach dem Zug durch die Gemeinde, der Gefallenenehrung und dem Kirchgang beginnt das Vogelschießen! Abends werden die Orden vergeben und die Inthronisierung des neuen Königspaares findet statt.',
		location: 'Barlo Dorfplatz',
	},
	{
		type: 'Termin',
		date: new Date('2027-09-19T09:00:00.000Z'),
		name: 'Jung&shy;schüt&shy;zen&shy;fest Sonntag 2027',
		description:
			'Am Sonntag steht Früshoppen, Ausholen des neuen Königspaars und Fahneschlagen auf dem Programm. Abends kann sich das neue Königspaar nochmal richtig beim Thron feiern lassen.',
		location: 'Barlo Dorfplatz',
	},
	// 2028
	{
		type: 'Termin',
		date: new Date('2028-01-08T17:30:00.000Z'),
		name: 'Jahres&shy;haupt&shy;ver&shy;samm&shy;lung 2028',
		description: `Alle Jungschützen und die, die es werden wollen sind herzlich zur Jahres&shy;haupt&shy;ver&shy;samm&shy;lung eingeladen. Auf der Tagesordnung stehen u. a. der Jahres- und Kassenbericht sowie die Neuwahlen des Vorstands. Wir freuen uns auf euer Kommen!`,
		location: 'Landgasthaus Schmitz',
	},
	{
		type: 'Termin',
		date: new Date('2028-04-15T18:00:00.000Z'),
		name: 'Oster&shy;disco 2028',
		description:
			'Am Ostersamstag kann der Jungschütze nochmal richtig das Tanzbein schwingen! Der Jungschützenverein lädt zur alljährlichen Oster&shy;disco im Saal Wissing Flinzenberg ein.',
		location: 'Saal Wissing-Flinzenberg',
	},
	{
		type: 'Termin',
		date: new Date('2028-09-10T09:00:00.000Z'),
		name: 'Früh&shy;schoppen 2028',
		description:
			'Am Sonntag vor Schützenfest findet ein gemütlicher Umtrunk bei Schmitz statt. Dort können sich neue Jungschützen anmelden und Hüte, Gewehre, Nadeln, Federn und Shirts werden verkauft.',
		location: 'Landgasthaus Schmitz',
	},
	{
		type: 'Termin',
		date: new Date('2028-09-15T17:00:00.000Z'),
		name: 'Jung&shy;schüt&shy;zen&shy;fest Freitag 2028',
		description:
			'In das beste Wochenende des Jahres starten wir um 18:00 Uhr beim Antreten zum Ausholen des Königspaares. Um 20:00 Uhr beginnt die Jungschützendisco im Saal Wissing-Flinzenberg!',
		location: 'Barlo Dorfplatz',
	},
	{
		type: 'Termin',
		date: new Date('2028-09-16T06:30:00.000Z'),
		name: 'Jung&shy;schüt&shy;zen&shy;fest Samstag 2028',
		description:
			'Nach dem Zug durch die Gemeinde, der Gefallenenehrung und dem Kirchgang beginnt das Vogelschießen! Abends werden die Orden vergeben und die Inthronisierung des neuen Königspaares findet statt.',
		location: 'Barlo Dorfplatz',
	},
	{
		type: 'Termin',
		date: new Date('2028-09-17T09:00:00.000Z'),
		name: 'Jung&shy;schüt&shy;zen&shy;fest Sonntag 2028',
		description:
			'Am Sonntag steht Früshoppen, Ausholen des neuen Königspaars und Fahneschlagen auf dem Programm. Abends kann sich das neue Königspaar nochmal richtig beim Thron feiern lassen.',
		location: 'Barlo Dorfplatz',
	},

	// 2029
	{
		type: 'Termin',
		date: new Date('2029-01-06T17:30:00.000Z'),
		name: 'Jahres&shy;haupt&shy;ver&shy;samm&shy;lung 2029',
		description: `Alle Jungschützen und die, die es werden wollen sind herzlich zur Jahres&shy;haupt&shy;ver&shy;samm&shy;lung eingeladen. Auf der Tagesordnung stehen u. a. der Jahres- und Kassenbericht sowie die Neuwahlen des Vorstands. Wir freuen uns auf euer Kommen!`,
		location: 'Landgasthaus Schmitz',
	},
	{
		type: 'Termin',
		date: new Date('2029-03-31T18:00:00.000Z'),
		name: 'Oster&shy;disco 2029',
		description:
			'Am Ostersamstag kann der Jungschütze nochmal richtig das Tanzbein schwingen! Der Jungschützenverein lädt zur alljährlichen Oster&shy;disco im Saal Wissing Flinzenberg ein.',
		location: 'Saal Wissing-Flinzenberg',
	},
	{
		type: 'Termin',
		date: new Date('2029-09-09T09:00:00.000Z'),
		name: 'Früh&shy;schoppen 2029',
		description:
			'Am Sonntag vor Schützenfest findet ein gemütlicher Umtrunk bei Schmitz statt. Dort können sich neue Jungschützen anmelden und Hüte, Gewehre, Nadeln, Federn und Shirts werden verkauft.',
		location: 'Landgasthaus Schmitz',
	},
	{
		type: 'Termin',
		date: new Date('2029-09-14T17:00:00.000Z'),
		name: 'Jung&shy;schüt&shy;zen&shy;fest Freitag 2029',
		description:
			'In das beste Wochenende des Jahres starten wir um 18:00 Uhr beim Antreten zum Ausholen des Königspaares. Um 20:00 Uhr beginnt die Jungschützendisco im Saal Wissing-Flinzenberg!',
		location: 'Barlo Dorfplatz',
	},
	{
		type: 'Termin',
		date: new Date('2029-09-56T06:30:00.000Z'),
		name: 'Jung&shy;schüt&shy;zen&shy;fest Samstag 2029',
		description:
			'Nach dem Zug durch die Gemeinde, der Gefallenenehrung und dem Kirchgang beginnt das Vogelschießen! Abends werden die Orden vergeben und die Inthronisierung des neuen Königspaares findet statt.',
		location: 'Barlo Dorfplatz',
	},
	{
		type: 'Termin',
		date: new Date('2029-09-16T09:00:00.000Z'),
		name: 'Jung&shy;schüt&shy;zen&shy;fest Sonntag 2029',
		description:
			'Am Sonntag steht Früshoppen, Ausholen des neuen Königspaars und Fahneschlagen auf dem Programm. Abends kann sich das neue Königspaar nochmal richtig beim Thron feiern lassen.',
		location: 'Barlo Dorfplatz',
	},
].filter(termin => termin.date > tomorrow) as TerminProp[];
---

<Layout {seo}>
	<Container>
		<div class="root-full-width">
			<div class="root">
				<h2>Termine 2026</h2>
				{
					termine
						.filter(e => e.date.getFullYear() === 2026)
						.map(termin => <Termin termin={termin} />)
				}
				<h2>Termine 2027</h2>
				{
					termine
						.filter(e => e.date.getFullYear() === 2027)
						.map(termin => <Termin termin={termin} />)
				}
				<h2>Termine 2028</h2>
				{
					termine
						.filter(e => e.date.getFullYear() === 2028)
						.map(termin => <Termin termin={termin} />)
				}
				<h2>Termine 2029</h2>
				{
					termine
						.filter(e => e.date.getFullYear() === 2029)
						.map(termin => <Termin termin={termin} />)
				}
			</div>
		</div>
	</Container>
	<br />
</Layout>

<style>
	.root-full-width {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.root {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		gap: 1rem;
	}

	h2 {
		margin-top: 2rem;
		margin-bottom: 0;
	}
</style>
